/*header font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');

/*body font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

#intro h1 {
  font-size: 100px;
  text-align: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#intro {
  padding: 50px 50px 50px 50px;
}

